
    body{
        background-color:rgb(82, 115, 157);
        text-align :center;
    }
    .To-Do{
        background-color:white;
        width:70%;
        margin:auto;
        border-radius:30px;
        height:400px;
        margin-bottom:60px;


    }
    .footer{
        background-color:white;
        width:25%;
        margin:auto;
        border-radius:6px;
        padding:10px;
        font-size:13px;
        
    }
    p1{
        float-left;
        margin: 0;
        font-weight:bold;
    }
    p2{
        color:rgb(82, 115, 157);
        font-weight:bold;
    }
    .to{
        border:2px solid #e7e4e4;
        width:70%;
        margin:auto;
        display:flex;
        border-radius:5px;
        margin-bottom:200px;

    }
    .input{
        padding:11px;
        margin-right:100px;
        
        
    }
    
    .input input{
    border:none;
    padding:11px;
}
    .add{
        background-color:rgb(53, 103, 173);
        color:white;
        margin:9px;
        border:none;
        width:15%;
        border-radius:4px;
        

    }
    .to:hover{
        border-color:seagreen;
    }
    .below{
      display:flex;
      justify-content:space-between;
      padding:11px;
    }
    .delete{
       
        background-color:white;
        border:none;
        border-radius:4px;
        width:18%;
    }
    .hr{
       background-color:#ccc; 
    }
    .delete:hover{
        background-color:seagreen;
    }
    .add:hover{
        background-color:seagreen;
    }
    


