
    body{
        background-color:rgb(82, 115, 157);
        text-align :center;
    }
    .To-Do{
        background-color:white;
        width:70%;
        margin:auto;
        border-radius:30px;
        height:400px;
        margin-bottom:50px;

    }
    .footer{
        background-color:white;
        width:25%;
        margin:auto;
        border-radius:6px;
        padding:10px;
        font-size:13px;
        
    }
    p1{
        float-left;
        margin: 0;
        font-weight:bold;
    }
    p2{
        color:rgb(70, 80, 215);
        font-weight:bold;
    }
    .to{
        border:2px solid #e7e4e4;
        width:70%;
        margin:auto;
        display:flex;
        border-radius:5px;

    }
    .input{
        padding:11px;
        
    }
    .add{
        background-color:rgb(70, 80, 215);
        color:white;
        margin:9px;
        border:none;
        width:15%;
        border-radius:4px;
        

    }
    


